<mat-form-field style="width: 150px">
    <mat-label>Dag</mat-label>
    <mat-select
            (ngModelChange)="data.dag=$event; dag_changed()"
            [(ngModel)]="data.dag">
        <mat-option *ngFor="let dag of data.dags" [value]="dag">
            {{dag.name}}
        </mat-option>
    </mat-select>
</mat-form-field>

<mat-form-field style="width: 150px" *ngIf="data.dag">
    <mat-label>Pipe</mat-label>
    <mat-select
            (ngModelChange)="data.pipe=$event;"
            [(ngModel)]="data.pipe">
        <mat-option *ngFor="let pipe of data.dag.pipes" [value]="pipe">
            {{pipe}}
        </mat-option>
    </mat-select>
</mat-form-field>

<div mat-dialog-content>
  <mat-form-field style="width: 450px">
    <mat-label>Equations</mat-label>
      <textarea
              matInput
              [(ngModel)]="data.equations"
              style="height:120px">

      </textarea>
  </mat-form-field>
</div>

<pre style="color: red"  *ngIf="error">
    {{error}}
</pre>

<div mat-dialog-actions>
  <button mat-button (click)="on_cancel_click()">Cancel</button>
  <button mat-button
          (click)="on_ok_click()"
          cdkFocusInitial>
      Ok
  </button>
</div>