<mat-form-field style="width: 150px">
    <mat-label>Dag</mat-label>
    <mat-select
            (ngModelChange)="data.dag=$event; dag_changed()"
            [(ngModel)]="data.dag">
        <mat-option *ngFor="let dag of data.dags" [value]="dag">
            {{dag.name}}
        </mat-option>
    </mat-select>
</mat-form-field>

<mat-form-field style="width: 150px" *ngIf="data.dag">
    <mat-label>Pipe</mat-label>
    <mat-select
            (ngModelChange)="data.pipe=$event;"
            [(ngModel)]="data.pipe">
        <mat-option *ngFor="let pipe of data.dag.pipes" [value]="pipe">
            {{pipe.name}}
        </mat-option>
    </mat-select>
</mat-form-field>

<mat-form-field style="width: 200px" *ngIf="data.pipe && data.pipe.versions">
    <mat-label>Versions</mat-label>

    <mat-select
            (ngModelChange)="data.pipe.version=$event;"
            [(ngModel)]="data.pipe.version">
        <mat-option
                *ngFor="let version of data.pipe.versions"
                [value]="version">
            {{version.name}}
        </mat-option>
    </mat-select>

    <mat-icon class="positionCameras" matSuffix>
        <ul>
            <li title='Move Up' class="cameraLeft"
                (click)="move_up($event)"
                [class.transparent]='is_up_transparent()'></li>
            <li title="Move Down" class="cameraRight"
                (click)="move_down($event)"
                [class.transparent]='is_down_transparent()'></li>
        </ul>
    </mat-icon>

</mat-form-field>

<div mat-dialog-content *ngIf="data.pipe && data.pipe.version">
    <mat-form-field style="width: 600px">
        <mat-label>Additional info</mat-label>
        <textarea
                #textarea
                matInput
                [(ngModel)]="data.pipe.version.equations"
                (keydown)="key_down($event)"
                style="height:550px;width: 800px">

      </textarea>
    </mat-form-field>
</div>

<pre style="color: red" *ngIf="error">
    {{error}}
</pre>

<div mat-dialog-actions>
    <button mat-button (click)="on_cancel_click()">Cancel</button>
    <button mat-button
            (click)="on_ok_click()"
            cdkFocusInitial>
        Ok
    </button>
</div>