<button mat-raised-button
        style="margin-top: 15px"
        (click)="add()">
    Add
</button>


<button mat-raised-button style="margin-top: 15px"
        (click)="filter_hidden=!filter_hidden">
    Filters {{filter_applied_text}}
</button>

<div [hidden]="filter_hidden">
    <mat-form-field style="width: 150px">
        <mat-label>Project</mat-label>
        <mat-select (ngModelChange)="project=$event; onchange()"
                    [ngModel]="project">
            <mat-option
                    *ngFor="let project of projects"
                    [value]="project.id">
                {{project.name}}
            </mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field style="width: 150px">
        <input matInput (keyup)="name=$event.target.value;onchange()"
               placeholder="Name">
    </mat-form-field>


    <mat-form-field style="width: 200px">
        <input matInput type="datetime-local" placeholder="created min"
               [ngModel]="created_min"
               (ngModelChange)="created_min = $event;onchange()">
    </mat-form-field>

    <mat-form-field style="width: 200px">
        <input matInput type="datetime-local" placeholder="created max"
               [ngModel]="created_max"
               (ngModelChange)="created_max = $event;onchange()">
    </mat-form-field>

</div>

<div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" matSort>

        <ng-container matColumnDef="id">
            <th mat-header-cell
                *matHeaderCellDef mat-sort-header
                style="width: 5%">
                Id
            </th>

            <td mat-cell
                *matCellDef="let element"
                style="width: 5%">
                {{element.id}}
            </td>
        </ng-container>

        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Name</th>
            <td mat-cell *matCellDef="let element">
                {{element.name}}
            </td>
        </ng-container>

        <ng-container matColumnDef="project">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Project</th>
            <td mat-cell *matCellDef="let element">
                
                <span *ngIf="element.project_rel">
                    {{element.project_rel.name}}
                </span>

            </td>
        </ng-container>

        <ng-container matColumnDef="score_local">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
                Score local
            </th>

            <td mat-cell *matCellDef="let element">
                {{element.score_local|number:'.5'}}
            </td>
        </ng-container>

        <ng-container matColumnDef="score_public">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Score
                public
            </th>
            <td mat-cell *matCellDef="let element">
                {{element.score_public|number:'.5'}}
            </td>
        </ng-container>

        <ng-container matColumnDef="created">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Created</th>
            <td mat-cell *matCellDef="let element" style="min-width: 100px">
                {{element.created| date:"MM.dd H:mm:ss"}}
            </td>
        </ng-container>

        <ng-container matColumnDef="dag">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Dag</th>
            <td mat-cell *matCellDef="let element">
                <a
                        routerLink="/dags/dag-detail/{{element.dag}}"
                        *ngIf="element.dag_rel">
                    {{element.dag_rel.name}}
                </a>
            </td>
        </ng-container>

        <ng-container matColumnDef="links">
            <th mat-header-cell *matHeaderCellDef
                style="text-align: center; width: 14%;">
                Links
            </th>
            <td mat-cell *matCellDef="let element"
                style="padding-left: 1%;min-width: 120px">
                <mat-icon svgIcon="start" matTooltip="Start"
                          (click)="start(element)">
                </mat-icon>

                <mat-icon svgIcon="remove" matTooltip="Remove"
                          (click)="remove(element)">
                </mat-icon>
            </td>
        </ng-container>


        <tr mat-header-row *matHeaderRowDef="displayed_columns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayed_columns;"></tr>
    </table>

    <mat-paginator [pageSizeOptions]="[default_page_size, 30, 100]" [length]="total"
                   [pageSize]="default_page_size"></mat-paginator>

</div>

