<div mat-dialog-content>
    <mat-form-field>
        <mat-label>Name</mat-label>
        <input matInput [(ngModel)]="data.name">
    </mat-form-field>
</div>

<div mat-dialog-content>
    <mat-form-field>
        <mat-label>File</mat-label>
        <input matInput [(ngModel)]="data.file">
    </mat-form-field>
</div>

<mat-form-field style="width: 150px">
    <mat-label>Project</mat-label>
    <mat-select
            (ngModelChange)="data.project=$event;"
            [(ngModel)]="data.project">
        <mat-option *ngFor="let project of data.projects" [value]="project.id">
            {{project.name}}
        </mat-option>
    </mat-select>
</mat-form-field>

<div mat-dialog-content>
    <mat-form-field>
        <mat-label>Fold</mat-label>
        <input matInput [(ngModel)]="data.fold">
    </mat-form-field>
</div>


<pre style="color: red" *ngIf="error">
    Error:

    {{error}}
</pre>

<div mat-dialog-actions>
    <button mat-button (click)="on_cancel_click()">Cancel</button>
    <button mat-button
            (click)="on_ok_click()"
            cdkFocusInitial>
        Ok
    </button>
</div>