<mat-form-field style="width: 150px">
    <mat-label>Dag</mat-label>
    <mat-select (ngModelChange)="data.dag=$event; dag_changed()" [(ngModel)]="data.dag">
        <mat-option *ngFor="let dag of data.dags" [value]="dag">
            {{dag.name}}
        </mat-option>
    </mat-select>
</mat-form-field>

<mat-form-field style="width: 150px" *ngIf="data.dag">
    <mat-label>Slot</mat-label>
    <mat-select (ngModelChange)="data.slot=$event;" [(ngModel)]="data.slot">
        <mat-option *ngFor="let slot of data.dag.slots" [value]="slot">
            {{slot}}
        </mat-option>
    </mat-select>
</mat-form-field>

<mat-form-field style="width: 150px" *ngIf="data.dag">
    <mat-label>Interface</mat-label>
    <mat-select (ngModelChange)="data.interface=$event;" [(ngModel)]="data.interface">
        <mat-option *ngFor="let interface of data.dag.interfaces" [value]="interface">
            {{interface}}
        </mat-option>
    </mat-select>
</mat-form-field>

<mat-form-field style="width: 150px" *ngIf="data.dag">
    <mat-label>Pipe</mat-label>
    <mat-select (ngModelChange)="data.pipe=$event;" [(ngModel)]="data.pipe">
        <mat-option *ngFor="let pipe of data.dag.pipes" [value]="pipe">
            {{pipe}}
        </mat-option>
    </mat-select>
</mat-form-field>

<div mat-dialog-content>
  <mat-form-field style="width: 450px">
    <mat-label>Interface Params</mat-label>
      <textarea
              matInput
              [(ngModel)]="data.interface_params"
              style="height:120px"
      ></textarea>
  </mat-form-field>
</div>

<pre style="color: red"  *ngIf="error">
    {{error}}
</pre>

<div mat-dialog-actions>
  <button mat-button (click)="on_cancel_click()">Cancel</button>
  <button mat-button
          (click)="on_ok_click()"
          cdkFocusInitial>
      Ok
  </button>
</div>