<script src="../assets/visjs/vis.min.js"></script>
<link href="../assets/visjs/vis.min.css" rel="stylesheet" type="text/css" />



<p></p>

<nav>
  <a routerLink="/projects" routerLinkActive="active">Projects</a>
  <a routerLink="/dags" routerLinkActive="active">Dags</a>
  <a routerLink="/tasks" routerLinkActive="active">Tasks</a>
  <a routerLink="/models" routerLinkActive="active">Models</a>
  <a routerLink="/reports/list" routerLinkActive="active">Reports</a>
  <a routerLink="/logs" routerLinkActive="active">Logs</a>
  <a routerLink="/computers" routerLinkActive="active">Computers</a>
</nav>

<router-outlet #routerOutlet="outlet"></router-outlet>