mat-button-toggle-group {
    flex-wrap: wrap;
}

img {
    max-height: 224px;
    height: auto;
    width: auto;
}

.section {
    display: flex;
    align-content: center;
    align-items: center;
    height: 12px;
}