<link
        href="https://fonts.googleapis.com/icon?family=Material+Icons"
        rel="stylesheet">

<table style="width: 100%;"  (click)="code_click($event)">
  <td class="mat-app-background basic-container" style="width: 20%">

    <button mat-raised-button
            style="margin-top: 15px;margin-bottom: 10px"
            (click)="download()">
        Download
    </button>

    <mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
      <!-- This is the tree node template for leaf nodes -->
      <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding>
        <!-- use a disabled button to provide padding for tree leaf -->

        <button mat-icon-button
                mat-button
                class="mat-icon-button"
                (click)="node_click(node)">

        </button>

        {{node.name}}

      </mat-tree-node>

      <mat-tree-node
              *matTreeNodeDef="let node;when: hasChild"
              matTreeNodePadding>
        <button mat-icon-button matTreeNodeToggle
                [attr.aria-label]="'toggle ' + node.name"
                class="mat-icon-button">

          <mat-icon class="mat-icon-rtl-mirror">
            {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
          </mat-icon>

        </button>

        {{node.name}}

       </mat-tree-node>

      </mat-tree>

  </td>

  <td style="width: 50%; height:100%">

    <div id="codeholder">

    </div>

  </td>

  <td style="width: 30%; height:100%">

  </td>
</table>
