table {
  width: 50%;
  min-width: 800px;
}

.mat-header-cell{
  text-align: center !important;
}

td{
  text-align: center;
}

mat-icon{
  cursor: pointer;
}

::ng-deep .mat-sort-header-container{
  display:flex;
  justify-content:center;
  text-align: center;
  margin-left: 12px !important;
}
