<mat-form-field>
    <input matInput (keyup)="filter_name($event.target.value)" placeholder="Name">
</mat-form-field>

<div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" matSort>

        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef  style="width: 18px" mat-sort-header> Id</th>
            <td mat-cell *matCellDef="let element" style="width: 18px">
                {{element.id}}
            </td>
        </ng-container>

        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Name</th>
            <td mat-cell *matCellDef="let element">
                <a class="col-1-4" routerLink="/dags/dag-detail/{{element.id}}">
                    {{element.name}}
                </a>
            </td>
        </ng-container>

        <ng-container matColumnDef="task_count">
            <th mat-header-cell *matHeaderCellDef mat-sort-header  style="width: 18px"> Tasks</th>
            <td mat-cell *matCellDef="let element"  style="width: 18px">
                {{element.task_count}}
            </td>
        </ng-container>

        <ng-container matColumnDef="created">
            <th mat-header-cell *matHeaderCellDef mat-sort-header style="min-width: 100px"> Created</th>
            <td mat-cell *matCellDef="let element" style="min-width: 100px">
                {{element.created| date:"MM.dd H:mm"}}
            </td>
        </ng-container>

        <ng-container matColumnDef="started">
            <th mat-header-cell *matHeaderCellDef mat-sort-header style="min-width: 100px"> Started</th>
            <td mat-cell *matCellDef="let element" style="min-width: 100px">
                {{element.started| date:"MM.dd H:mm"}}
            </td>
        </ng-container>

        <ng-container matColumnDef="last_activity">
            <th mat-header-cell *matHeaderCellDef mat-sort-header style="min-width: 100px"> Last activity</th>
            <td mat-cell *matCellDef="let element" style="min-width: 100px">
                {{element.last_activity| date:"MM.dd H:mm"}}
            </td>
        </ng-container>


        <ng-container matColumnDef="duration">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Duration</th>
            <td mat-cell *matCellDef="let element">
                {{element.duration}}
            </td>
        </ng-container>

        <ng-container matColumnDef="img_size">
            <th mat-header-cell *matHeaderCellDef> Image size</th>
            <td mat-cell *matCellDef="let element" style="width: 50px">
                {{size(element.img_size)}}
                <mat-icon svgIcon="remove" matTooltip="Remove" (click)="remove_imgs(element)"></mat-icon>
            </td>
        </ng-container>

        <ng-container matColumnDef="file_size">
            <th mat-header-cell *matHeaderCellDef> File size</th>
            <td mat-cell *matCellDef="let element"  style="width: 50px">
                {{size(element.file_size)}}
                <mat-icon svgIcon="remove" matTooltip="Remove" (click)="remove_files(element)"
                [class.transparent]="has_unfinished(element)"></mat-icon>
            </td>
        </ng-container>


        <ng-container matColumnDef="task_status">
            <th mat-header-cell *matHeaderCellDef style="text-align: center"> Task status</th>
            <td mat-cell *matCellDef="let element">
                <svg height="40" width="220px" style="display: block;">
                    <g matTooltip="{{status.name}}" [attr.transform]="'translate('+(16+i*30).toString()+','+'20)'"
                       *ngFor="let status of element.task_statuses; let i = index">

                        <text fill="black" text-anchor="middle" vertical-align="middle"
                              font-size="10" y="3">{{status.count > 0 ? status.count : ''}}</text>

                        <circle [attr.stroke-width]="status.count>0?2:1" (click)="status_click(element, status)"
                                [attr.stroke]="color_for_task_status(status.name, status.count)"
                                fill-opacity="0" r="12.5" style="cursor: pointer; opacity: 1;"></circle>
                    </g>

                </svg>

            </td>
        </ng-container>

        <ng-container matColumnDef="links">
            <th mat-header-cell *matHeaderCellDef style="text-align: center; width: 14%;"> Links</th>
            <td mat-cell *matCellDef="let element" style="padding-left: 1%;min-width: 120px">
                <mat-icon svgIcon="config" matTooltip="Config"
                          routerLink="/dags/dag-detail/{{element.id}}/config"></mat-icon>
                <mat-icon svgIcon="code" matTooltip="Code" routerLink="/dags/dag-detail/{{element.id}}/code"></mat-icon>
                <mat-icon svgIcon="graph" matTooltip="Graph" routerLink="/dags/dag-detail/{{element.id}}/graph"></mat-icon>
                <mat-icon svgIcon="stop" matTooltip="Stop" (click)="stop(element)"
                          [class.transparent]="!has_unfinished(element)"></mat-icon>
                <mat-icon svgIcon="remove" matTooltip="Remove" (click)="remove(element)"></mat-icon>
                <mat-icon svgIcon="report" matTooltip="Report" (click)="toogle_report(element)" *ngIf="report"
                          [class.transparent]="!element.report_full"></mat-icon>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayed_columns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayed_columns;"></tr>
    </table>

    <mat-paginator [pageSizeOptions]="[15, 30, 100]" [length]="total" [pageSize]="15"></mat-paginator>

</div>

