table {
  width: 70%;
  min-width: 1580px;
}

td, th {
  width: 10%;

}

.checkbox-section {
  display: flex;
  align-content: center;
  align-items: center;
  height: 60px;
}

.checkbox-margin {
  margin: 0 10px;
}