table {
  width: 70%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

td, th {
  width: 10%;

}

mat-icon{
  cursor: pointer;
}

::ng-deep .mat-sort-header-container{
  display:flex;
  justify-content:center;
  text-align: center;
}

.mat-header-cell{
  text-align: center !important;
}

td{
  text-align: center;
}