<div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" matSort>

        <ng-container matColumnDef="main">
            <th mat-header-cell *matHeaderCellDef class="name">
                Current stats
            </th>
            <td mat-cell *matCellDef="let element" class="name" style="vertical-align: top">
                <mat-grid-list rowHeight="50px" cols="8">
                    <mat-grid-tile
                            [colspan]="1"
                            [rowspan]="4">
                        <div style="width: 100%">
                            <div>{{element.name}}</div>
                        </div>
                    </mat-grid-tile>

                    <mat-grid-tile
                            [colspan]="1"
                            [rowspan]="4">
                        <div style="width: 100%">
                            <div>
                                Cpu:
                            </div>
                            <div class="flex-wrapper">
                                <div class="single-chart">
                                    <svg
                                            viewBox="0 0 36 36"
                                            [attr.class]="'circular-chart '+
                                            color(element.usage.cpu)">
                                        <path class="circle-bg"
                                              d="M18 2.0845
                          a 15.9155 15.9155 0 0 1 0 31.831
                          a 15.9155 15.9155 0 0 1 0 -31.831"
                                        />

                                        <path class="circle"
                                              [attr.stroke-dasharray]=
                                                      "element.usage.cpu+
                                                      ', 100'"
                                              d="M18 2.0845
                          a 15.9155 15.9155 0 0 1 0 31.831
                          a 15.9155 15.9155 0 0 1 0 -31.831"
                                        />

                                        <text
                                                x="18"
                                                y="20.35"
                                                class="percentage">
                                            {{element.cpu}}
                                        </text>

                                    </svg>
                                </div>

                            </div>
                        </div>
                    </mat-grid-tile>


                    <mat-grid-tile
                            [colspan]="1"
                            [rowspan]="4">
                        <div style="width: 100%">
                            <div>
                                Memory:
                            </div>
                            <div class="flex-wrapper">
                                <div class="single-chart">
                                    <svg
                                            viewBox="0 0 36 36"
                                            [attr.class]="'circular-chart '+
                                            color(element.usage.memory)">
                                        <path class="circle-bg"
                                              d="M18 2.0845
                  a 15.9155 15.9155 0 0 1 0 31.831
                  a 15.9155 15.9155 0 0 1 0 -31.831"
                                        />
                                        <path class="circle"
                                              [attr.stroke-dasharray]=
                                                      "element.usage.memory+
                                                      ', 100'"
                                              d="M18 2.0845
                  a 15.9155 15.9155 0 0 1 0 31.831
                  a 15.9155 15.9155 0 0 1 0 -31.831"
                                        />
                                        <text
                                                x="18"
                                                y="20.35"
                                                class="percentage">
                                            {{element.memory}}
                                        </text>
                                    </svg>
                                </div>

                            </div>
                        </div>
                    </mat-grid-tile>

                    <mat-grid-tile
                            [colspan]="1"
                            [rowspan]="4">
                        <div style="width: 100%">
                            <div>
                                Disk:
                            </div>
                            <div class="flex-wrapper">
                                <div class="single-chart">
                                    <svg
                                            viewBox="0 0 36 36"
                                            [attr.class]="'circular-chart '+
                                            color(element.usage.disk)">
                                        <path class="circle-bg"
                                              d="M18 2.0845
                  a 15.9155 15.9155 0 0 1 0 31.831
                  a 15.9155 15.9155 0 0 1 0 -31.831"
                                        />
                                        <path class="circle"
                                              [attr.stroke-dasharray]=
                                                      "element.usage.disk+
                                                      ', 100'"
                                              d="M18 2.0845
                  a 15.9155 15.9155 0 0 1 0 31.831
                  a 15.9155 15.9155 0 0 1 0 -31.831"
                                        />
                                        <text
                                                x="18"
                                                y="20.35"
                                                class="percentage">
                                            {{element.disk}}
                                        </text>
                                    </svg>
                                </div>

                            </div>
                        </div>
                    </mat-grid-tile>

                    <mat-grid-tile
                            *ngFor="let gpu of element.usage.gpu; index as i"
                            [colspan]="1"
                            [rowspan]="4">
                        <div style="width: 100%">
                            <div>Gpu {{i}}</div>
                            <div class="single-chart" matTooltip="load">
                                <svg
                                        viewBox="0 0 36 36"
                                        [attr.class]="'circular-chart '+
                                        color(gpu.load)">
                                    <path class="circle-bg"
                                          d="M18 2.0845
                                      a 15.9155 15.9155 0 0 1 0 31.831
                                      a 15.9155 15.9155 0 0 1 0 -31.831"
                                    />
                                    <path class="circle"
                                          [attr.stroke-dasharray]=
                                                  "gpu.load+', 100'"
                                          d="M18 2.0845
                                      a 15.9155 15.9155 0 0 1 0 31.831
                                      a 15.9155 15.9155 0 0 1 0 -31.831"
                                    />
                                    <text x="18" y="20.35" class="percentage">
                                        {{gpu.load}}%
                                    </text>
                                </svg>
                            </div>
                            <div class="single-chart" matTooltip="memory" >
                                <svg viewBox="0 0 36 36"
                                     [attr.class]="'circular-chart '+
                                     color(gpu.memory)">
                                    <path class="circle-bg"
                                          d="M18 2.0845
                                      a 15.9155 15.9155 0 0 1 0 31.831
                                      a 15.9155 15.9155 0 0 1 0 -31.831"
                                    />
                                    <path class="circle"
                                          [attr.stroke-dasharray]=
                                                  "gpu.memory+', 100'"
                                          d="M18 2.0845
                                      a 15.9155 15.9155 0 0 1 0 31.831
                                      a 15.9155 15.9155 0 0 1 0 -31.831"
                                    />
                                    <text x="18" y="20.35" class="percentage">
                                        {{gpu.memory}}%
                                    </text>
                                </svg>
                            </div>
                        </div>


                    </mat-grid-tile>
                </mat-grid-list>

                <table>
                    <td style="text-align: left">Dockers:</td>
                </table>

                <table>
                    <th></th>
                    <th></th>
                    <th  style="width: 70px;min-width: 70px"></th>
                    <th  style="width: 70px;min-width: 70px"></th>
                    <tr *ngFor="let docker of element.dockers">
                        <td>
                            <span style="vertical-align: middle">{{docker.name}} &nbsp;</span>
                            <span
                                    [matTooltip]="docker_status_tip(docker)"
                                    [className]="docker_status(docker)">

                            </span>
                        </td>
                        <td>{{long_date_format(docker.last_activity)}}</td>
                        <td style="width: 70px;min-width: 70px">
                            <span style="vertical-align: middle">{{docker.in_progress}} &nbsp;</span>
                            <span
                                    matTooltip="in_progress"
                                    [className]="'circle-green'">

                            </span>
                        </td>
                        <td style="width: 70px;min-width: 70px">
                            <span style="vertical-align: middle">{{docker.free}} &nbsp;</span>
                            <span
                                    matTooltip="free"
                                    [className]="'circle-gray'">

                            </span>
                        </td>

                        <td>
                            {{element.sync_status}}
                            {{element.sync_date |  date:"MM.dd H:mm:ss"}}
                        </td>
                    </tr>
                </table>

            </td>
        </ng-container>

        <ng-container matColumnDef="usage_history">
            <th mat-header-cell *matHeaderCellDef class="usage_history">
                Stat history &nbsp; &nbsp;&nbsp;
                <mat-button-toggle-group
                        [value]="pressed"
                        (change)="pressed_changed($event)"
                        appearance="legacy"
                        style="height: 30px">
                    <mat-button-toggle value="min15">
                        <mat-icon>15 min</mat-icon>
                    </mat-button-toggle>
                    <mat-button-toggle value="hour1">
                        <mat-icon>1 hour</mat-icon>
                    </mat-button-toggle>
                    <mat-button-toggle value="hour3">
                        <mat-icon>3 hour</mat-icon>
                    </mat-button-toggle>
                    <mat-button-toggle value="hour6">
                        <mat-icon>6 hour</mat-icon>
                    </mat-button-toggle>
                    <mat-button-toggle value="day1">
                        <mat-icon>1 day</mat-icon>
                    </mat-button-toggle>
                    <mat-button-toggle value="day3">
                        <mat-icon>3 day</mat-icon>
                    </mat-button-toggle>
                </mat-button-toggle-group>
            </th>
            <td mat-cell *matCellDef="let element" class="usage_history">
                <div [attr.id]="'usage_history_'+element.name"></div>

            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayed_columns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayed_columns;"></tr>
    </table>

    <mat-paginator
            [pageSizeOptions]="[15, 30, 50, 100]"
            [length]="total"
            [pageSize]="15">

    </mat-paginator>
</div>


