<h4>Task detail</h4>

<app-task-table
        [paginator]="this"
        [report]="report"
        [projects]="projects">

</app-task-table>

<div *ngIf="child_paginator.total==null||child_paginator.total>0">
    <h4>Child tasks</h4>

    <app-task-table
            [paginator]="child_paginator"
            [show_links]="false">
    </app-task-table>
</div>


<nav>
    <a routerLink="./logs" routerLinkActive="active"
       [routerLinkActiveOptions]="{ exact: true }">Logs</a>
    <a routerLink="./step" routerLinkActive="active">Steps</a>
    <a routerLink="./report" routerLinkActive="active">Reports</a>
</nav>

<router-outlet (activate)="onActivate($event)"></router-outlet>