table {
  width: 100%;
  min-width: 800px;
}

.column {
  float: left;
  width: 50%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.mat-header-cell{
  text-align: center !important;
}
